<div class="bg-white p-8 rounded-lg shadow-md grid grid-cols-1 md:grid-cols-2 gap-4 text-center">
  <%= link_to content_tag(:span, t('profile.title'), class: 'fa fa-user'), "/profile", alt: t('profile.alt'), class: "block bg-blue-500 text-white rounded-full text-2xl py-4 px-6 transition duration-300 transform hover:scale-105 hover:shadow-xl" %>
  <%= link_to content_tag(:span, t('jobs.title'), class: 'fa fa-briefcase'), "/jobs", alt: t('jobs.alt'), class: "block bg-blue-500 text-white rounded-full text-2xl py-4 px-6 transition duration-300 transform hover:scale-105 hover:shadow-xl" %>
</div>